{% extends 'layout/layout.html' %}

{% block title %}
    
{% endblock  %}

{% block content %}
<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h4 class="text-center my-3 pb-3">To Do App</h4>
            <form action="" method="POST" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
              
              {{ form.hidden_tag() }}  <!-- CSRF Token -->

              <div class="col-12">
                <div data-mdb-input-init class="form-outline">
                  {{ form.task(class="form-control") }}  <!-- Render task input -->
                  <label class="form-label" for="form1">Enter a task here</label>
                </div>
              </div>

              <div class="col-12">
                <div class="form-outline">
                  {{ form.priority(class="form-select") }}  <!-- Render priority select field -->
                </div>
              </div>

              <div class="col-12">
                {{ form.save(  class="btn btn-primary") }} <!-- Render save button -->
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}